@import "../mixins";
@import "../variables";
.dashboard{
  @include desktopXS{
    width: 35rem;
    border-radius: 1rem;
  }
  @include tablette{
    height: auto;
    width: 95%!important;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 1rem;
  }
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 40rem;
  width: 45rem;
  background: linear-gradient(
                  to right bottom,
                  rgba(255, 255, 255, 0.3),
                  rgba(255, 255, 255, .4)
  );
  border-radius: 0 1rem 1rem 0;
  z-index: 2;
  backdrop-filter: blur(2rem);
  .row{
    @include mobile{
      flex-direction: column;
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 2rem;
    .item{
      text-align: center;
      border-radius: .5rem;
      padding: .5rem;
      margin: .5rem;
      background: linear-gradient(
                      to right bottom,
                      rgba(255, 255, 255, 0.1),
                      rgba(255, 255, 255, .3)
      );
      a:link{
        text-decoration: none!important;
        color: $blue;
      }
      h3{
        font-size: 1.5rem;
      }
      .fa-twitter{
        color: #6EACDB;
        font-size: 1.5rem;
      }
    }
    .repos{
      display: flex;
      flex-direction: column;
      align-items: center;
      .number{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border: $blue 5px solid;
        border-radius: 50%;
      }
    }
  }
}


