@import "../variables";
@import "../app";

.card{
  background: white;
  min-height: 80vh;
  width: 25rem!important;
  background: linear-gradient(
                  to right bottom,
                  rgba(255, 255, 255, 0.7),
                  rgba(255, 255, 255, .5)
  );
  border-radius: 1rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .photo{
    img{
      border-radius: 50%;
      width: 15rem;
    }
  }
  .name{
    h1{
      margin-bottom: 0.1rem;
    }
  }
  .job{
    margin-top: .5rem;
    h2{
      margin-bottom: 0.1rem;
    }
  }

}
